---
import qs from "qs";

import DefaultLayout from "../layouts/default-layout.astro";
import fetchApi from "../lib/strapi";

import type Author from "../interfaces/author";

const query = qs.stringify({
    populate: {
        profile_picture: {
            fields: ["name", "width", "height", "url"],
        },
        social_links: {
            fields: ["platform", "url"],
        },
    },
});

const author = await fetchApi<Author>({
    endpoint: `author?${query}`,
    wrappedByKey: "data",
});
---

<DefaultLayout title="Home 😎">
    <h1 class="font-black text-3xl md:text-5xl lg:text-7xl text-center uppercase !leading-normal">{author.attributes.greeting} <br /><span class="text-primary">A {author.attributes.title}</span></h1>

    <p class="text-gray-500 text-center mt-3 md:text-lg lg:text-xl">
        {author.attributes.introduction}
    </p>
</DefaultLayout>
