---
import DefaultLayout from "../layouts/default-layout.astro";
---

<DefaultLayout title="Home 😎">
    <h1 class="font-black text-3xl md:text-5xl lg:text-7xl text-center uppercase !leading-normal">Hi I’M Omoniyi <br /><span class="text-primary">A Product Designer</span></h1>
</DefaultLayout>
