---
import { Image } from "astro:assets";
---

<div class="flex items-center gap-3">
    <Image src="/images/avatar.png" alt="Astro Logo" width={48} height={48} />
    <div>
        <h5 class="font-extrabold text-sm">Promise Olaifa</h5>
        <p class="text-xs text-primary">Product Designer</p>
    </div>
</div>
